@model ConfigViewModel

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <title>Technical Page</title>
</head>
<body>

<div class="row">
  <div class="col-lg-6">
    <div>
      <p>Session guid: @ViewBag.SessionGuid</p>
    </div>
    <div>
      <p>Refresh rate: @(ViewBag.RefreshRate * 1000) ms</p>
    </div>
    <div>
      <p>Average temp collection rate: @(ViewBag.CollectionRate * 1000) ms</p>
    </div>
    <div>
      <p>Daily report hour: @ViewBag.ReportTime.ToLongTimeString() </p>
    </div>
  </div>
  <div class="col-lg-6">
    <div id="log"></div>
  </div>
</div>
</body>
</html>
<script src="/lib/signalr/signalr.js"></script>

<script type="text/javascript">


  var log = document.getElementById("log");
  var connection = new signalR.HubConnection("/hubs/update");
  connection.start();

  //Refresh
  setInterval(function() {

      var message = "";
      connection.send("Update", message);

      if (canceled) {
        console.log('Click event was canceled');
      }
    },
    @ViewBag.RefreshRate * 1000);

  //Collection

  setInterval(function() {
      var message = "";
      connection.send("Collect", message);

      if (canceled) {
        console.log('Click event was canceled');
      }
    },
    @ViewBag.CollectionRate * 1000);

  //Report
  setInterval(function() {
      var date = new Date();
      if (date.getHours() === @ViewBag.ReportTime.Hour &&
        date.getMinutes() === @ViewBag.ReportTime.Minute) {
        var message = "";
        connection.send("Report", message);

        if (canceled) {
          console.log('Click event was canceled');
        }
      }
    },
    55000);


  var btnClick = function() {
    connection.send("Report", message);
    log.appendChild("clicked");
  };

</script>